

/* My code start */
/* Navbar */
nav.navbar.navbar-expand-sm.bg-dark.navbar-dark.px-sm-5 img {
  width: 80px;
  height: 80px;
}
.right-side button:hover {
  background-color: #439013;
  color: #fff;
  transition: .3s;
}
li.nav-item.ml-5 a {
  font-size: 18px;
  color: #fff !important;
  border-bottom: 2px solid #48bb0e;
  text-transform: uppercase;
}
.top-title h2 {
  font-size: 38px;
  font-family: 'Oswald', sans-serif;
  font-weight: 500;
}
.top-title {
  color: #2af51c;
}
.top-title strong {
  color: #21af17;
}
/* product card */
.card-img-top {
  transition: .3s;
}
.img-container {
  position: relative;
  overflow: hidden;
}
.img-container:hover .card-img-top {
  transform: scale(1.1);
}
.cart-btn {
  position: absolute;
  bottom: 0;
  right: 0px;
  background: #36b13a;
  color: #fff;
  border: none;
  border-radius: 3px;
  padding: 5px 35px 5px 35px;
  transform: translate(100%, 100%);
}
.img-container:hover .cart-btn {
  transition: .3s;
  transform: scale(1.1);
}
.cart-btn:hover {
  background: #2c8226;
  color: #e6e1dc;
}