

/* My code start */
/* Navbar */
nav.navbar.navbar-expand-sm.bg-dark.navbar-dark.px-sm-5 img {
  width: 80px;
  height: 80px;
}
.right-side button:hover {
  background-color: #439013;
  color: #fff;
  transition: .3s;
}
li.nav-item.ml-5 a {
  font-size: 18px;
  color: #fff !important;
  border-bottom: 2px solid #48bb0e;
  text-transform: uppercase;
}
.top-title h2 {
  font-size: 38px;
  font-family: 'Oswald', sans-serif;
  font-weight: 500;
}
.top-title {
  color: #2af51c;
}
.top-title strong {
  color: #21af17;
}
/* product card */
.card-img-top {
  transition: .3s;
}
.img-container {
  position: relative;
  overflow: hidden;
}
.img-container:hover .card-img-top {
  transform: scale(1.1);
}
.cart-btn {
  position: absolute;
  bottom: 0;
  right: 0px;
  background: #36b13a;
  color: #fff;
  border: none;
  border-radius: 3px;
  padding: 5px 35px 5px 35px;
  transform: translate(100%, 100%);
}
.img-container:hover .cart-btn {
  transition: .3s;
  transform: scale(1.1);
}
.cart-btn:hover {
  background: #2c8226;
  color: #e6e1dc;
}
/* Modal */
.container.modal-section {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
}
#modal{
  background: #fff;
}
/* cart inc dec button */
.btn-black {
  background: #6bd043;
  color: #fff;
  font-size: 20px !important;
  border-radius: 0;
  border: 1px solid #70dc5c;
}

.btn-black:hover {
  background: #1e6f0a;
  color: #fff;
}
.cart-icon{
  cursor: pointer;
  color: #d65e68;
  font-size: 20px;
}
button.my-cartt {
  background: #39da5c;
  color: #fff;
  font-size: 20px;
  border: none;
}
.card-footer {
  background: #e3f3e6;
  color: #000;
}
h5.price-color {
  color: #f10751bd;
  font-size: 23px;
}
.em-cartt h2 {
  color: #5cd413;
  font-size: 46px;
}
#modal h5 {
  color: #101010;
  background: #93f9af;
  opacity: 0.7;
}
h5.itm-addd {
  background: #2bec09 !important;
  color: #101010 !important;
  text-transform: uppercase;
}
button.cont-shopp {
  background: #fd3f3fb8;
  border: none;
  color: #fff;
}
button.cart-shopp {
  background: #33ce22eb;
  color: #fff;
  border: none;
}
.row.pro-desc p {
  color: #f31647cc;
  font-size: 17px;
}
h5.subtotal-cls {
  color: #16b924;
}
h5.subtotal-ttl span {
  color: #ec4040d6;
  font-size: 25px;
}
h5.subtotal-ttl strong {
  color: #b3645c;
  font-size: 25px;
}
button.add-cart-btn {
  background: #e83333bd;
  color: #fff;
  border: none;
}
button.add-to-cart {
  background: #44b538;
  color: #fff;
  border: none;
}
.img-container img {
  max-height: 222px !important;
}